.rootBox {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #1572a1;
}

.editor {
  width: 50%;

  margin-bottom: 20px;

  border: 7px solid #9ad0ec;
}

.submitBtn {
  width: 70px;
  height: 30px;

  border: 1px solid white;
  border-radius: 10px;

  background-color: #046582;
  color: wheat;

  cursor: pointer;
}
